.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  height: 64px;
  width: 64px;
  border: 1px solid white;
  margin: 8px;
}