@use './_colors.scss' as *;
@use './_utilities.scss' as *;
@use './_breakpoints.scss' as *;

// HTML Style 
html {
  height: 100%;
  background-color: $powder-blue;
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 16px;
  text-align: center;

  @include respond-to(large) {
    padding: 40px;
  }
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

// Navigation
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  padding: 12px;
  border: 1px solid $blue-chill;

  &__list {
    display: flex;
    gap: 12px;
  }
}