@use './_colors.scss' as *;
@use './_utilities.scss' as *;
@use './_breakpoints.scss' as *;

// HTML Style 
html {
  position: relative;
  height: 100%;
}

* { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: $powder-blue;
  background-image: url('../assets/dots.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

#root {
  margin: 0 auto;
  padding: 16px;

  @include respond-to(large) {
    padding: 40px;
  }
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

.overlay {
  background-color: black;
  opacity: 0.85;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

// Navigation
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  padding: 12px 16px;
  border: 1px solid $powder-blue;

  @include respond-to(large) {
    padding: 16px 40px;
  }

  &__list {
    display: none;

    @include respond-to(large) {
      display: flex;
      gap: 12px;
    }

    &--active {
      display: block;

      .nav__link {
        color: $deep-teal;
    
        a {
          color: inherit;

          &::after {
            background-color: $deep-teal;
          }

          &:hover,
          &:focus,
          &:focus-visible {
            color: $deep-teal;
          }
        }
      }
    }
  }

  &__mobile-icon {
    cursor: pointer;
    display: block;
    max-width: 32px;
    color: $powder-blue;

    @include respond-to(large) {
      display: none;
    }
  }

  .mobile-menu {
    position: absolute;
    top: 74px;
    left: -150%;
    height: calc(100% - 104px);
    width: calc(100% - 32px);
    transition: left 0.4s ease-in;
    background-color: #AFDDE5;
    padding: 16px;
    margin-left: 16px;
    margin-top: 16px;
    text-align: center;
    border-radius: 8px;

    @include respond-to(large) {
      padding: 40px;
    }

    &.mobile-menu--active {
      left: 0;
    }
  }
}

.view {
  border-radius: $border-radius;
  padding: 12px 16px;
  border: 1px solid $powder-blue;
  margin-top: 16px;

  @include respond-to(large) {
    padding: 16px 40px;
    margin-top: 40px;
  }
}